extends layout

block content
  h1= title
  p Hello guys i'm here for the tournament #{title}
  a(href="google.com") Google
  a(class='button', href='google.com') Google
  ul Amis :
    li Ali
    li Fahd
    li Taha
  script.
    console.log('hello');
  img.monimage(src="/images/test.gif")
