extends layout

block content
  h1= title
  form(action='/', method='POST')
   textarea(name='tweet', rows='10', cols='50') Saisir un texte ici.
   input(type='submit', name='nom', value='twitter',content='Sends')

  ul
   - each tweet in tweets
     li= tweet

